<form action="/course/add" method="post">

<p>


    <label> hfhfhf Name </label><input value="" name="courseName"/></br>
    <label> Course Duration </label><input value="" name="courseDuration"/></br>
    <label> Course Fees </label><input value="" name="courseFees"/></br>
    {{!-- <label> Course Name </label><input value="" name="courseName"/> --}}
    <button type="submit" class="btn btn-success">Add Course</button>


</p>
</form>